#kakao-map {
  opacity: 0.8;
  width: 100%;
  /* 지도가 화면에 꽉 차도록 설정 */
  height: 100vh;
}

h1 {
  font-size: 24px;
  margin-top: 0;
  margin-bottom: 20px;
}

.bottom-panel {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #ffffff;
  overflow-y: auto;
  /* 세로 스크롤이 필요할 때만 스크롤이 나타나도록 설정 */
  height: 45%;
  overflow-x: hidden;
  padding-top: 16px;
  padding-bottom: 16px;
  z-index: 999;
  /* 필요에 따라 z-index 설정 */
  border-radius: 24px 24px 24px 24px;
  align-items: center;
  justify-content: center;
}

.set-location-image {
  width: 32px;
  height: 32px;
}

.set-location-button {
  position: absolute;
  bottom: 52%;
  /* 원하는 위치로 조정 */
  left: 89%;
  /* 가운데 정렬 */
  border-radius: 50%;
  padding-top: 5px;
  border: none;
  transform: translateX(-50%);
  /* 가운데 정렬을 위한 transform */
  z-index: 1000;
  /* 다른 요소 위에 표시하기 위한 z-index 설정 */
  background: var(--grey-95, #f2f2f2);
  box-shadow: 0px 4px 8px 0px #00000029;
}

.map-products {
  margin-bottom: 50px;
}

.search-bar {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 85%;
  display: flex;
  align-items: center;
  background: white;
  border-radius: 16px;
  padding: 12px 16px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.search-bar input {
  flex: 1;
  border: none;
  outline: none;
  font-size: 16px;
}

.search-button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 18px;
}

.select-options {
  display: flex;
  gap: 8px;
  padding: 16px;
}

.select-options button {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-top: 8px;
  padding-right: 16px;
  padding-bottom: 8px;
  padding-left: 16px;
  border-radius: 100px;
  border-width: 1px;
  background-color: #ffffff;
  border: 1px solid var(--grey_100, #eaeaea);
  font-family: Pretendard;
  font-weight: 500;
  font-size: 14px;
  line-height: 16.71px;
  letter-spacing: 0%;
  color: #323232;
}

.select-options button.active {
  background: #1a1a1a;
  font-weight: bold;
  color: #ffffff;
  font-family: Pretendard;
  font-weight: 400;
  font-size: 14px;
  line-height: 16.71px;
  letter-spacing: -1%;
  text-align: center;
}
