.signinpage-container {
    padding: 5.5rem 1rem;
    overflow-y: auto;
}

.signin-info {
    display: flex;
    flex-direction: row;
    gap: 1.4375rem;
}

.signin-title {
    color: #000;
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 160%;
}

.signin-title2 {
    position: relative;
    color: #000;
    font-size: 20px;
    line-height: 160%;
    display: inline-block;
}

.signin-title2::after {
    content: "";
    position: absolute;
    left: 2px;
    right: 0;
    bottom: 3px;
    height: 60%;
    width: 97%;
    background-color: rgba(255, 220, 37, 0.35);
    z-index: -1;
}

.signin-logo-img {
    width: 64px;
    height: 65px;
}

.signin-input {
    padding-top: 4.6875rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.signin-input-feedback {
    margin: 0;
    padding: 0;
}

.input-field {
    display: flex;
    width: -webkit-fill-available;
    padding: 16px;
    border-radius: 8px;
    border: 1px solid #ccc;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.08);
    font-weight: 400;
    font-size: 0.875rem;
}

.input-field::placeholder {
    color: #b2b2b2;
}

.input-field:focus {
    outline: none;
    border-color: #1a1a1a;
}

.signin-input-feedback {
    font-weight: 400;
    font-size: 0.8125rem;
    color: #f33131;
    padding: 0.25rem 0.25rem 0;
}

.signin-btn {
    width: 100%;
    color: #191919;
    font-size: 0.875rem;
    font-weight: 500;
    margin-top: 1rem;
    padding: 16px;
    border-radius: 8px;
    border: none;
    background-color: #ffdc25;
    cursor: pointer;
}

.signup-search {
    display: flex;
    justify-content: center;
    margin: 2.5rem 0;
    font-weight: 400;
    font-size: 0.75rem;
    color: #8c8c8c;
    gap: 16px;
    cursor: pointer;
}

.or-line {
    display: flex;
    padding: 0 1rem;
    justify-content: center;
    align-items: center;
    color: #cccccc;
    gap: 1.5rem;
    margin-top: 2.5rem;
    font-weight: 400;
    font-size: 0.875rem;
}

.border-line {
    flex-grow: 1;
    border-bottom: 1px solid #e6e6e6;
    justify-content: left;
}
.social-icon {
    display: flex;
    justify-content: center;
    margin-top: 1.5rem;
    gap: 1rem;
    cursor: pointer;
}
