.signuppage {
    /* overflow-y: auto; */
}

.top-nav {
    padding: 1rem 0.75rem;
    display: flex;
    gap: 0.5rem;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    z-index: 999;
}

.signup-title {
    color: #191919;
    font-size: 1rem;
    font-weight: 500;
}

.signuppage-container {
    padding: 4.3125rem 1rem 0;
}

.info-layout {
    margin-bottom: 2.5rem;
}

.info-title {
    margin-bottom: 0.75rem;
    color: #1a1a1a;
    font-size: 0.875rem;
    font-weight: 500;
}

.info-input {
    width: 100%;
    padding: 12px 0;
    border: none;
    border-bottom: 1px solid #ccc;
}

.info-input::placeholder {
    color: #b2b2b2;
}

.info-input.has-text {
    border-bottom: 1px solid #1a1a1a;
}

.input-wrapper {
    position: relative;
}

.send-code-button {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    padding: 4px 8px;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    background: #bcbcbc;
    border: none;
    color: #f2f2f2;
    font-size: 12px;
    letter-spacing: -0.12px;
    cursor: pointer;
}

.match_message {
    display: flex;
    align-items: center;
    color: #30be13;
    font-size: 12px;
    margin-top: 8px;
}

.error_message {
    display: flex;
    align-items: center;
    color: #f42828;
    font-size: 12px;
    margin-top: 8px;
}

.service-box {
    margin-bottom: 24px;
    padding: 1rem;
    border-radius: 8px;
    border: 1px solid #ccc;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.08);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
}

.service-box-content {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.service-box input[type="checkbox"] {
    width: 1rem;
    height: 1rem;
    accent-color: #4d4d4d;
}

.service-box label {
    display: flex;
    flex-direction: column;
    font-size: 0.875rem;
    font-weight: 500;
    color: #4d4d4d;
    cursor: pointer;
}

.all-checkbox-desc {
    margin-top: 0.75rem;
    font-weight: 400;
    font-size: 0.875rem;
    color: #808080;
    margin-bottom: 0;
}

.service-all-comment {
    margin: 0 0 12px 24px;
    color: #808080;
    font-size: 14px;
}

.signup-btn {
    width: 100%;
    color: #1a1a1a;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 8px;
    padding: 12px 16px;
    border-radius: 8px;
    border: none;
    background-color: #ffdc25;
    cursor: pointer;
}
