.PostTypeSelector {
    display: flex;
    gap: 0.5rem;

    .selector {
        font-size: 0.875rem;
        padding: 0.5rem 1rem;
        border: 1px solid #333333;
        border-radius: 100px;
        color: #1a1a1a;
        font-weight: 400;
    }

    .selector.selected {
        background-color: #1a1a1a;
        color: #ffffff;
    }
}
